# k8s/client.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: collab-client-deployment
  labels:
    app: collab-client
spec:
  replicas: 2
  selector:
    matchLabels:
      app: collab-client
  template:
    metadata:
      labels:
        app: collab-client
    spec:
      containers:
      - name: client
        # *** UPDATED DOCKER HUB USERNAME ***
        image: chhuzaifamayo/collab-client:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
# ... (rest of the service remains the same)