apiVersion: v1
kind: Service
metadata:
  name: collab-server-service
spec:
  selector:
    app: collab-server
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP # Internal service only