# k8s/server.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: collab-server-deployment
  labels:
    app: collab-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: collab-server
  template:
    metadata:
      labels:
        app: collab-server
    spec:
      containers:
      - name: server
        # *** UPDATED DOCKER HUB USERNAME ***
        image: chhuzaifamayo/collab-server:latest
        ports:
        - containerPort: 5000
        # env: ...
---
apiVersion: v1
kind: Service
# ... (rest of the service remains the same)